
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<link href="~/Admin/assets/css/Floor.css" rel="stylesheet" />
<div class="container">
    <ul class="container floor-list" >
        <li class="floor-item">

<<<<<<< HEAD
<<<<<<< HEAD
<h1>Floor</h1>
=======
<h1>floor view</h1>
>>>>>>> Admin/DashController-cs
=======
        </li>
    </ul>
</div>
>>>>>>> Admin/layout

