
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<link href="~/Admin/assets/css/Floor.css" rel="stylesheet" />
<div class="container">
    <ul class="container floor-list" >
        <li class="floor-item">

        </li>
    </ul>
</div>

