
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container">
    <div class=" d-flex justify-content-around">
        <div class="position-relative shadow-lg border border-warning border-right-0 border-bottom-0 rounded-left bg-warning" style="width:200px; height:200px;">
            <div class="position-absolute shadow border border-success border-right-0 border-bottom-0 rounded-left bg-success" style="width:200px; height:200px; top:20px; left:20px;">
                <div class="position-absolute shadow-sm border border-primary border-right-0 border-bottom-0 rounded-left bg-primary text-wrap" style="width:200px; height:200px; top:20px; left:20px;">
                    <span>Tầng:1</span>
                </div>
            </div>
        </div>
        <div class="position-relative shadow-lg border border-warning border-right-0 border-bottom-0 rounded-left bg-warning" style="width:200px; height:200px;">
            <div class="position-absolute shadow border border-success border-right-0 border-bottom-0 rounded-left bg-success" style="width:200px; height:200px; top:20px; left:20px;">
                <div class="position-absolute shadow-sm border border-primary border-right-0 border-bottom-0 rounded-left bg-primary " style="width:200px; height:200px; top:20px; left:20px;">
                    <span>Tầng:1</span>
                </div>
            </div>
        </div>
        <div class="position-relative shadow-lg border border-warning border-right-0 border-bottom-0 rounded-left bg-warning" style="width:200px; height:200px;">
            <div class="position-absolute shadow border border-success border-right-0 border-bottom-0 rounded-left bg-success" style="width:200px; height:200px; top:20px; left:20px;">
                <div class="position-absolute shadow-sm border border-primary border-right-0 border-bottom-0 rounded-left bg-primary " style="width:200px; height:200px; top:20px; left:20px;">
                    <span>Tầng:1</span>
                </div>
            </div>
        </div>
    </div>    
</div>


